
SPCaemucals/bin/

SPCaemucals/obj/

SPCaemucals.Data/bin/

SPCaemucals.Data/obj/

SPCaemucals/Client/my-app/node_modules/

SPCaemucals/Client/sw/package-lock.json

SPCaemucals/Backend/.DS_Store

SPCaemucals/.DS_Store

.DS_Store
